@page "/volumes"

<PageTitle>Volumes list</PageTitle>

@using DockerMonitor.Data
@using Docker.DotNet
@using Docker.DotNet.Models
@using DockerMonitor.Pages;
@inject DockerService DockerService

<h1>Volumes list</h1>

@{
    void RenderDictionary<T, K>(IDictionary<T, K>? dict)
    {
        @if (dict == null || dict.Count() == 0)
        { }
        else
        {
            <table class="table table-sm">
                <thead>
                    <th>Key</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    @foreach (var item in dict)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}

@if (volumes == null)
{
    <p><em>Loading volumes...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-sm table-responsive">
    <thead>
        <th>Name</th>
        <th>Driver</th>
        <th>Labels</th>
        <th>Mountpoint</th>
        <th>Options</th>
        <th>Scope</th>
        <th>Status</th>
        @* <th>UsageData</th> *@
    </thead>
    <tbody>
        @foreach (var volume in volumes)
            {
                <tr>
                    <td>@volume.Name</td>
                    <td>@volume.Driver</td>
                    <td>@{
                            RenderDictionary<string, string>(volume.Labels);
                        }</td>
                    <td title="@volume.Mountpoint">@volume.Mountpoint.Substring(0, 10)...</td>
                    <td>@{
                            RenderDictionary<string, string>(volume.Options);
                        }</td>
                    <td>@volume.Scope</td>
                    <td>@{
                            RenderDictionary<string, object>(volume.Status);
                        }</td>
                    @* <td>
                        @if (volume.UsageData != null)
                        {
                            <p>@volume.UsageData.RefCount (@volume.UsageData.Size)</p>
                        }
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private VolumeResponse[]? volumes;
    protected override async Task OnInitializedAsync()
    {
        volumes = await DockerService.GetVolumesAsync();
    }
}
