@page "/images"

<PageTitle>Images list</PageTitle>

@using DockerMonitor.Data
@using Docker.DotNet
@using Docker.DotNet.Models

@inject DockerService DockerService

<h1>Images list</h1>

    @if (images == null)
    {
        <p><em>Loading volumes...</em></p>
    }
    else
    {
        <table class="table table-striped table-bordered table-sm table-responsive">
            <thead>
                <th>ID</th>
                <th>RepoTags</th>
                <th>Created</th>
                <th>Size</th>

            </thead>
            <tbody>
                @foreach(var image in images)
                {
                    <tr>
                        <td>@image.ID</td>
                        <td>
                            @foreach(var RepoTag in image.RepoTags)
                            {
                                <p>@RepoTag</p>
                            }
                        </td>   
                        <td>@image.Created</td>
                        <td>@image.Size</td>
                    </tr>
                }
            </tbody>
        </table>
    }

@code {
    private ImagesListResponse[]? images;

    protected override async Task OnInitializedAsync()
    {
        images = await DockerService.GetImagesAsync();
    }
}
