@page "/settings"

<PageTitle>Settings</PageTitle>

@using DockerMonitor.Data
@using Docker.DotNet
@using Docker.DotNet.Models

@inject DockerService DockerService

<h1>Settings</h1>

<div class="form-group">
    <label for="docker-url" class="mb-1">Your Docker socket/pipe URL</label>
    <input class="form-control" name="docker-url" @bind="currentDockerUrl" placeholder='unix:///var/run/docker.sock' />
    <small class="form-text text-danger">@errorMessage</small>
</div>

<div class="text-center mt-3">
    <button type="button" class="btn btn-primary" @onclick="() => OnSaveClick()">Save</button>
</div>
<div class="m-1">
    <span class="form-text text-success">@successMessage</span>
</div>

<hr />
@if (version == null || systemInfo == null)
{
    <div>Something went wrong while fetching version or system info. Please make sure you have docker installed and refresh
    the page.</div>
}
else
{
    <div class="grid">
    <div class="row">
        <h4 class="col text-center">Docker Version</h4>
        <h4 class="col text-center">System Info</h4>
    </div>
    @for (var i = 0; i < versionFields.Length; i++)
        {
            <div class="row">
                <div class="col text-center">@versionFields[i]:
                    @DisplayValue(version.GetType().GetProperty(versionFields[i]).GetValue(version, null))
                </div>
                <div class="col text-center">@systemInfoFields[i]:
                    @DisplayValue(systemInfo.GetType().GetProperty(systemInfoFields[i]).GetValue(systemInfo, null))
                </div>

            </div>
        }
    </div>
}

@if (version != null && version.Components != null)
{
    <h4 class="mt-5 mb-3 text-center">Version Components</h4>
    <div class="container">
    <div class="row">
        @foreach (var component in version.Components)
            {
                <div class="col card text-center m-2" style="padding: 0;">
                    <div class="card-header">
                        @component.Name - version: @component.Version

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Details:</h5>
                        <div>@foreach (KeyValuePair<string, string> kvp in component.Details)
                            {
                                <div class="text-muted">@kvp.Key : @kvp.Value</div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code
{
    string currentDockerUrl = "";
    string errorMessage = "";
    string successMessage = "";
    SystemInfoResponse? systemInfo;
    VersionResponse? version;

    string[] versionFields = new string[]{"Version", "APIVersion", "GitCommit", "Os", "Arch", "KernelVersion",
"Experimental"};

    string[] systemInfoFields = new string[] { "OSVersion", "OSType", "Architecture", "MemTotal", "Name",
"ExperimentalBuild", "Isolation" };
    protected override async Task OnInitializedAsync()
    {
        currentDockerUrl = DockerService.GetDockerUrl();
        systemInfo = await DockerService.GetSystemInfoAsync();
        version = await DockerService.GetVersionAsync();
    }

    private void OnSaveClick()
    {
        errorMessage = "";
        successMessage = "";

        var response = DockerService.SetDockerUrl(currentDockerUrl);
        if (response == "")
        {
            successMessage = "The URL for socket/pipe was properly set.";
        }
        else
        {
            errorMessage = response;
        }
    }

    private object DisplayValue(object? value)
    {
        if (value == null || value.ToString() == "")
        {
            return '-';
        }
        return value;
    }
}