@page "/events"

@implements IDisposable
<PageTitle>Events list</PageTitle>

@using DockerMonitor.Data
@using Docker.DotNet
@using Docker.DotNet.Models


@inject DockerService DockerService

<h1>Events list</h1>

@if (dockerEvents == null)
{
    <p><em>Loading events...</em></p>
}
else 
{
    <table class="table table-striped table-bordered table-sm table-responsive">
    <thead>
        <th>ID</th>
        <th>Action</th>
        <th>Time</th>
        <th>From</th>
        <th>Type</th>
        <th>Scope</th>
    </thead>
    <tbody>
        @foreach (var dockerEvent in dockerEvents.Reverse())
        @if (dockerEvent == null) {} else {
            <tr>
                <td>@dockerEvent.ID</td>
                <td>@dockerEvent.Action</td>
                <td>@DateTimeOffset.FromUnixTimeSeconds(dockerEvent.Time).ToLocalTime().DateTime</td>
                <td>@dockerEvent.From</td>
                <td>@dockerEvent.Type</td>
                <td>@dockerEvent.Scope</td>
            </tr>
        }
    </tbody>
    </table>
}

@code {
    DockerClient client;
    Timer? _timer;
    TimeSpan startTimeSpan = TimeSpan.Zero;
    TimeSpan periodTimeSpan = TimeSpan.FromSeconds(5);
    private Message[]? dockerEvents = new Message[400];
    int index = 0;

    protected override async Task OnInitializedAsync()
    {
        client = DockerService.GetDockerClient();
        GetEventsMonitor();
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    public async void GetEventsMonitor()
    {
        CancellationToken ct = new CancellationToken();

        var progress = new Progress<Message>((m) =>
        {
            dockerEvents[index] = m;
            index += 1;
            base.InvokeAsync(StateHasChanged);
        });

        await client.System.MonitorEventsAsync(
            // last 10 minutes
            new ContainerEventsParameters() { Since = (DateTimeOffset.Now.ToUnixTimeSeconds()-600).ToString() },
            progress,
            ct
        );
    }

}