@* @page "/tasks" *@

<PageTitle>Tasks list</PageTitle>

@using DockerMonitor.Data
@using Docker.DotNet
@using Docker.DotNet.Models
@using DockerMonitor.Pages;
@inject DockerService DockerService

<h1>Tasks list</h1>

@tasks

@code {
    private TaskResponse[]? tasks;
    protected override async Task OnInitializedAsync()
    {
        tasks = await DockerService.GetTasksAsync();
    }

}
