﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DockerMonitor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="containers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Containers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="images">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Images
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="volumes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Volumes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Events Monitor
            </NavLink>
        </div>

        <div class="fixed-bottom" style="width: 250px;">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="settings">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Settings
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
