﻿@page "/"
@page "/containers"

@implements IDisposable
<PageTitle>Containers list</PageTitle>
@using System.Threading;
@using DockerMonitor.Data
@using Docker.DotNet
@using Docker.DotNet.Models
@using Plotly.Blazor
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces
@using Plotly.Blazor.Traces.ScatterLib
@using Syncfusion.Blazor.Navigations
@using Majorsoft.Blazor.Components.Collapse
@using System.Text
@using System.Text.RegularExpressions;
@inject DockerService DockerService
@inject NavigationManager uriHelper;

@if (selectedContainer == null)
{
        <h2>No container selected</h2>
}
else{
    <h2>Selected container: <b>@String.Join(", ", selectedContainer.Names)</b></h2>
    @if (cpuStats == null)
    {
        <p>
            <div class="spinner"></div>
        </p>
    }
    else
    {
        <h3>Stats</h3>

        <ul>
            <li>Total CPU usage: @cpuStats.CPUUsage.TotalUsage</li>
            <li>Usage PER CPU: @String.Join(", ", cpuStats.CPUUsage.PercpuUsage)</li>
            <li>Usage in Kernel Mode: @cpuStats.CPUUsage.UsageInKernelmode</li>
            <li>Usage in User mode: @cpuStats.CPUUsage.UsageInUsermode</li>
            <li>System usage: @cpuStats.SystemUsage</li>
            <li>Online CPUs: @cpuStats.OnlineCPUs</li>
        </ul>
        <h3>Management</h3>
        <button type="button" class="btn btn-danger m-2" @onclick="() => StopContainer(selectedContainer)">Stop container</button>
        <button type="button" class="btn btn-warning m-2" @onclick="() => RestartContainer(selectedContainer)">Restart container</button>
        @if (selectedContainer.State == "running")
         {
             <button type="button" class="btn btn-warning m-2" @onclick="() => PauseContainer(selectedContainer)">Pause container</button>
             
         }
         else if (selectedContainer.State == "paused")
         {
             <button type="button" class="btn btn-success m-2" @onclick="() => UnpauseContainer(selectedContainer)">Start container</button>

         }

        <h5>Rename container</h5>                                                                                                               
        <input type="text" @bind="selectedContainerName" style="width: 500px" /> <button type="button" class="btn btn-primary" @onclick="() => RenameContainer(selectedContainer)">Rename</button>

        <br/>

    }
        <br/>
}
<CollapsePanel ContentHeight="1050" OnCollapseChanged="OnChartsCollapsed" Collapsed="@_isChartsCollapsed" CollapsedColor="#E2E3E5" id="charts" class="mb-2">
    <CollapsedHeaderContent>
        <div >
            <b>Show Charts</b>
        </div>
    </CollapsedHeaderContent>
    <ExpandedHeaderContent>
        <div >
            <b>Hide Charts</b>
            <span class="fa fa-lg fa-chevron-circle-down" aria-hidden="true"></span>
        </div>
    </ExpandedHeaderContent>
    <Content>
        <div>
            <PlotlyChart @bind-Config="config" @bind-Layout="cpulayout" @bind-Data="cpudata" @ref="cpuchart"/>
            <PlotlyChart @bind-Config="config" @bind-Layout="memorylayout" @bind-Data="memorydata" @ref="memorychart"/>
            <button type="button" class="btn btn-primary" @onclick="() => ClearCharts()">Clear Charts</button>
        </div>
    </Content>
</CollapsePanel>

<CollapsePanel ContentHeight="450" OnCollapseChanged="OnLogsCollapsed" Collapsed="@_isLogsCollapsed" CollapsedColor="#E2E3E5" id="logs">
    <CollapsedHeaderContent>
        <div>
            <b>Show Logs</b>
        </div>
    </CollapsedHeaderContent>
    <ExpandedHeaderContent>
        <div >
            <b>Hide logs</b>
            <span class="fa fa-lg fa-chevron-circle-down" aria-hidden="true"></span>
        </div>
    </ExpandedHeaderContent>
    <Content>
        <div>
            <table class="table table-striped table-hover table-bordered text-center mt-2">
            <thead>
            <tr>
                <th>Timestamp</th>
                <th>Log Message</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var log in containerLogs.Reverse())
             {
                 @if(log != null)
                 {
                     <tr>
                     <td>@log[0]</td>
                     <td>@log[1]</td>
                     </tr>
                 } 
            }
            </tbody>
            </table>
             </div>
        </Content>
</CollapsePanel>

<hr/>
<h1>Containers list</h1>

@if (containers == null)
{
    <p>
        <em>Loading containers...</em>
    </p>
}
else
{
    <table class="table table-striped table-bordered table-sm table-responsive">
        <thead>
        <th/>
        <th>ID</th>
        <th>Names</th>
        <th>Status</th>
        <th>State</th>
        <th>Created</th>
        <th>Ports</th>
        </thead>
        <tbody>
        @foreach (var container in containers)
        {
            <tr>
                <td>
                    <button @onclick="@(() => OnSelectContainer(container))"
                            class="btn @(selectedContainer != null && selectedContainer.ID == container.ID ? "btn-primary" : "btn-outline-primary")">
                        Select
                    </button>
                </td>
                <td>@container.ID</td>
                @if (container.Names == null)
                {
                    <td/>
                }
                else
                {
                    <td>@String.Join(", ", container.Names)</td>
                }
                <td>@container.Status</td>
                <td>@container.State</td>

                <td>@container.Created</td>

                @if (container.Ports == null)
                {
                    <td/>
                }
                else
                {
                    <td>

                        @foreach (var port in container.Ports)
                        {
                            <p>
                                @port.IP
                                @port.PublicPort
                                <Arrow/>
                                @port.PrivatePort
                                <button type="button" class="btnbtn btn-outline-primary btn-sm" disabled>@port.Type</button>
                            </p>
                        }

                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}

@code {
    // DockerClient client = new DockerClientConfiguration(new Uri("unix:///var/run/docker.sock")).CreateClient();
    DockerClient client;

    private ContainerListResponse[]? containers;
    private ContainerListResponse? selectedContainer;
    private string? selectedContainerName;
    private CPUStats? cpuStats;
    private MemoryStats? memoryStats;
    ulong previousSytetemUsage = 0;
    ulong previousCPUUsage = 0;
    string? previousSelectedContainerID = null;

    private static int containerLogsLimit = 10; 
    string[][] containerLogs = new string[containerLogsLimit][]; 

    private bool _isChartsCollapsed = true;
    private bool _isLogsCollapsed = true;


    Timer? _timer;
    TimeSpan startTimeSpan = TimeSpan.Zero;
    TimeSpan periodTimeSpan = TimeSpan.FromSeconds(1);

    TimeSpan longerTimeSpan = TimeSpan.FromSeconds(10);

    PlotlyChart cpuchart;
    PlotlyChart memorychart;

    Plotly.Blazor.Config config = new Plotly.Blazor.Config();

    Layout cpulayout = new Layout
    {
        Title = new Title {Text = "CPU usage "},
        Height = 500,

    };

    Layout memorylayout = new Layout
    {
        Title = new Title {Text = "Memory usage "},
        Height = 500,

    };



    IList<ITrace> cpudata = new List<ITrace>
    {
        new Scatter
        {
            Name = "ScatterTrace",
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = new List<object>(),
            Y = new List<object>()
        }
    };

    IList<ITrace> memorydata = new List<ITrace>
    {
        new Scatter
        {
            Name = "ScatterTrace",
            Mode = ModeFlag.Lines | ModeFlag.Markers,
            X = new List<object>(),
            Y = new List<object>()
        }
    };

    private async Task OnLogsCollapsed(bool state)
    {
        _isLogsCollapsed = state;
    }

    private async Task OnChartsCollapsed(bool state)
    {
        _isChartsCollapsed = state;
    }

    protected override async Task OnInitializedAsync()
    {
        client = DockerService.GetDockerClient();
        containers = await DockerService.GetContainersAsync();
    }

    public void ClearCharts()
    {
        cpuchart.Clear();
        memorychart.Clear();
    }

    private async Task ExtendCPUData(double value, string label)
    {
        List<object> X = new List<object> {label};
        List<object> Y = new List<object> {value};
        if (!(cpuchart.Data.FirstOrDefault() is Scatter scatter))
        {
            await cpuchart.AddTrace(new Scatter
            {
                Name = $"ScatterTrace{cpudata.Count + 1}",
                Mode = ModeFlag.Lines | ModeFlag.Markers,
                X = X,
                Y = Y
            });
            return;
        }
        ;


        if (!scatter.X.Any() || !scatter.Y.Any())
        {
            scatter.X.AddRange(X);
            scatter.Y.AddRange(Y);
            await cpuchart.React();
        }
        else
        {
            await cpuchart.ExtendTrace(X, Y, cpudata.IndexOf(scatter));
        }
    }

    private async Task ExtendMemoryData(double value, string label)
    {
        List<object> X = new List<object> {label};
        List<object> Y = new List<object> {value};
        if (!(memorychart.Data.FirstOrDefault() is Scatter scatter))
        {
            await memorychart.AddTrace(new Scatter
            {
                Name = $"ScatterTrace{memorydata.Count + 1}",
                Mode = ModeFlag.Lines | ModeFlag.Markers,
                X = X,
                Y = Y
            });
            return;
        }
        ;


        if (!scatter.X.Any() || !scatter.Y.Any())
        {
            scatter.X.AddRange(X);
            scatter.Y.AddRange(Y);
            await memorychart.React();
        }
        else
        {
            await memorychart.ExtendTrace(X, Y, memorydata.IndexOf(scatter));
        }
    }


    public void Dispose()
    {
        _timer?.Dispose();
    }

    public async void StopContainer(ContainerListResponse container)
    {
        Dispose();
        cpuStats = null;
        previousSytetemUsage = 0;
        previousCPUUsage = 0;
        previousSelectedContainerID = null;
        selectedContainer = null;
        cpuchart.Clear();
        memorychart.Clear();
        OnLogsCollapsed(true);
        OnChartsCollapsed(true);
        var stopped = await client.Containers.StopContainerAsync(
            container.ID,
            new ContainerStopParameters
            {
                WaitBeforeKillSeconds = 1
            },
            CancellationToken.None);
        uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }

    public async void RestartContainer(ContainerListResponse container)
    {
        Dispose();
        cpuStats = null;
        previousSytetemUsage = 0;
        previousCPUUsage = 0;
        previousSelectedContainerID = null;
        selectedContainer = null;
        cpuchart.Clear();
        memorychart.Clear();
        OnLogsCollapsed(true);
        OnChartsCollapsed(true);

        await client.Containers.RestartContainerAsync(
            container.ID,
            new ContainerRestartParameters
            {
                WaitBeforeKillSeconds = 1
            },
            CancellationToken.None);
        uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }

    public async void PauseContainer(ContainerListResponse container)
    {
        Dispose();
        cpuStats = null;
        previousSytetemUsage = 0;
        previousCPUUsage = 0;
        previousSelectedContainerID = null;
        selectedContainer = null;
        cpuchart.Clear();
        memorychart.Clear();
        OnLogsCollapsed(true);
        OnChartsCollapsed(true);
        await client.Containers.PauseContainerAsync(
            container.ID,

            CancellationToken.None);
        containers = await DockerService.GetContainersAsync();
        base.InvokeAsync(StateHasChanged);
    }


    public async void UnpauseContainer(ContainerListResponse container)
    {
        Dispose();
        cpuStats = null;
        previousSytetemUsage = 0;
        previousCPUUsage = 0;
        previousSelectedContainerID = null;
        selectedContainer = null;
        cpuchart.Clear();
        memorychart.Clear();
        OnLogsCollapsed(true);
        OnChartsCollapsed(true);

        await client.Containers.UnpauseContainerAsync(
            container.ID,
            CancellationToken.None);
        containers = await DockerService.GetContainersAsync();
        base.InvokeAsync(StateHasChanged);
    }


    public async void RenameContainer(ContainerListResponse container)
    {
        await client.Containers.RenameContainerAsync(
            container.ID,
            new ContainerRenameParameters
            {
                NewName = selectedContainerName
            },
            CancellationToken.None);
        containers = await DockerService.GetContainersAsync();
        base.InvokeAsync(StateHasChanged);


    }


    public void OnSelectContainer(ContainerListResponse container)
    {
        selectedContainer = container;
        selectedContainerName = String.Join(", ", selectedContainer.Names);
        Dispose();
        cpuStats = null;
        previousSytetemUsage = 0;
        previousCPUUsage = 0;
        previousSelectedContainerID = null;
        containerLogs = new string[containerLogsLimit][];

        GetContainerLogs(container.ID);

        _timer = new Timer((e) => { GetContainerUsage(container.ID); }, null, startTimeSpan, periodTimeSpan);
        cpuchart.Clear();
        memorychart.Clear();

    }

    private void SaveToContainerLogs(string m, int index) {
        string[] subs = m.Split(" ", 2);
        string dateTimeString = Regex.Replace(subs[0], @"[^\u0020-\u007E]|[a-z]", string.Empty);
        dateTimeString = dateTimeString[0] == '2' ? dateTimeString : dateTimeString.Substring(1);
        subs[0] = DateTime.Parse(dateTimeString).ToLocalTime().ToString();

        if (containerLogs.Length == containerLogsLimit) {
            string[][] tempArray = new string[containerLogsLimit][];
            Array.Copy(containerLogs, 1, tempArray, 0, containerLogsLimit - 1);
            tempArray[containerLogsLimit - 1] = subs;
            containerLogs = tempArray;
        } else {
            containerLogs[index] = subs;
        }
    }

    public async void GetContainerLogs(string id)
    {
        int cl_index = 0;

        CancellationToken ct = new CancellationToken();
        
        var progress = new Progress<string>((m) =>
        {
            SaveToContainerLogs(m, cl_index);
            // string[] subs = m.Split(" ", 2);
            // subs[0] = DateTime.Parse(Regex.Replace(subs[0], @"[^\u0020-\u007E]|s", string.Empty)).ToLocalTime().ToString();
            // containerLogs[cl_index] = subs;
            cl_index += 1;
            base.InvokeAsync(StateHasChanged);
        });
        
        var parameters = new ContainerLogsParameters
        {
            ShowStdout = true,
            ShowStderr = true,            
            Timestamps = true,
            Follow = true,
            Tail = containerLogsLimit.ToString()
        };
        
        await client.Containers.GetContainerLogsAsync(
            id,
            parameters,
            ct,
            progress
            );
    }

    public async void GetContainerUsage(string id)
    {
        CancellationToken ct = new CancellationToken();

        IProgress<ContainerStatsResponse> progress = new Progress<ContainerStatsResponse>((stats) =>
        {
            cpuStats = stats.CPUStats;
            memoryStats = stats.MemoryStats;

            double usedMemory = ConvertBytesToMegabytes(memoryStats.Usage - memoryStats.Stats["cache"] + memoryStats.Stats["active_file"]);

            if (previousSytetemUsage != 0 && previousCPUUsage != 0)
            {
                double CpuDelta = cpuStats.CPUUsage.TotalUsage - previousCPUUsage;

                double SystemDelta = cpuStats.SystemUsage - previousSytetemUsage;

                if (SystemDelta > 0 && CpuDelta > 0 && previousSelectedContainerID == id)
                {
                    var cpuPercent = (CpuDelta / SystemDelta) * cpuStats.CPUUsage.PercpuUsage.Count * 100.0;

                    base.InvokeAsync(() => ExtendCPUData(cpuPercent, DateTime.Now.ToString("hh:mm:ss")));
                    base.InvokeAsync(() => ExtendMemoryData(usedMemory, DateTime.Now.ToString("hh:mm:ss")));

                    base.InvokeAsync(StateHasChanged);
                }
                previousSelectedContainerID = id;
            }
            previousSytetemUsage = cpuStats.SystemUsage;
            previousCPUUsage = cpuStats.CPUUsage.TotalUsage;
        });

        await client.Containers.GetContainerStatsAsync(
            id,
            new Docker.DotNet.Models.ContainerStatsParameters() {Stream = false},
            progress,
            ct
            );
    }
    
    static double ConvertBytesToMegabytes(ulong bytes)
    {
        return (bytes / 1024f) / 1024f;
    }

}